@*
    Ayden Hofts
    1/22/2024
    This is the page to add or edit an Incident

    Quinton Nelson
    2/14/2024
    Update razor view to use data from the ViewModel for the title and all fields.

    Quinton Nelson
    3/10/2024
    Update the form so only certain fields are editable based on the operation type
    Also directs to technician list if it was called from the technician list
*@

@model IncidentAddEditViewModel
@{
    string title = Model.OperationType + " Incident";
    ViewData["Title"] = title;
 }

    <h2>@title</h2>

    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        @if(Model.AccessLevel == "Admin")
        {
            <div class="form-group">
                <label asp-for="CurrentIncident.CustomerID">Customer</label>
                <select asp-for="CurrentIncident.CustomerID"
                        asp-items="@(new SelectList(Model.Customers, "CustomerID", "FullName")
                        .Prepend(new SelectListItem { Value = "", Text = "Select a Customer", Selected = true }))"
                        class="form-control"></select>
                <span asp-validation-for="CurrentIncident.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentIncident.ProductID">Product</label>
                <select asp-for="CurrentIncident.ProductID" asp-items="@(new SelectList(Model.Products, "ProductID", "Name")
                    .Prepend(new SelectListItem { Value = "", Text = "Select a Product", Selected = true }))"
                        class="form-control"></select>
                <span asp-validation-for="CurrentIncident.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentIncident.Title">Title</label>
                <input asp-for="CurrentIncident.Title" class="form-control">
                <span asp-validation-for="CurrentIncident.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentIncident.TechnicianID">Technician</label>
                <select asp-for="CurrentIncident.TechnicianID" asp-items="@(new SelectList(Model.Technicians, "TechnicianID", "Name")
                    .Prepend(new SelectListItem { Value = "", Text = "Select a Technician", Selected = true }))"
                        class="form-control"></select>
                <span asp-validation-for="CurrentIncident.TechnicianID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentIncident.DateOpened" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="CurrentIncident.DateOpened" class="form-control" type="datetime-local" />
                    <span asp-validation-for="CurrentIncident.DateOpened" class="text-danger"></span>
                </div>
            </div>
        }
        else if(Model.AccessLevel == "Technician") {
            <div class="form-group">
                <label>Technician:</label>
                <p>@Model.CurrentIncident.Technician?.Name</p>
            </div>
            <div class="form-group">
                <label>Customer:</label>
                <p>@Model.CurrentIncident.Customer?.FullName</p>
            </div>
            <div class="form-group">
                <label>Product:</label>
                <p>@Model.CurrentIncident.Product?.Name</p>
            </div>
            <div class="form-group">
                <label>Title: </label>
                <p>@Model.CurrentIncident.Title</p>
             </div>
             <div class="form-group">
                 <label>Date Opened: </label>
                 <p>@Model.CurrentIncident.DateOpened</p>
             </div>

        }


        <div class="form-group">
            <label asp-for="CurrentIncident.Description">Description</label>
            <input asp-for="CurrentIncident.Description" class="form-control">
            <span asp-validation-for="CurrentIncident.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CurrentIncident.DateClosed" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="CurrentIncident.DateClosed" class="form-control" type="datetime-local" />
                <span asp-validation-for="CurrentIncident.DateClosed" class="text-danger"></span>
            </div>
        </div>

        <input type="hidden" asp-for="CurrentIncident.IncidentID" />
        <input type="hidden" asp-for="OperationType" />
        <input type="hidden" asp-for="AccessLevel" />

        <br>

    @if (Model.AccessLevel == "Admin")
    {
        <button type="submit" class="btn btn-primary">@Model.OperationType</button>
        <a asp-action="List" class="btn btn-primary">Cancel</a>
    }
    else if (Model.AccessLevel == "Technician")
    {
        <button type="submit" class="btn btn-primary">@Model.OperationType</button>
        <a asp-action="ListByTechnician" class="btn btn-primary">Cancel</a>
    }




    </form>
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}